.ModalConfirmDelete {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &_texts {
    margin: auto 0;
    text-align: center;
  }
  &_error {
    text-transform: uppercase;
    svg {
      fill: rgb(255, 131, 137);
      width: 22px;
      height: 22px;
      display: inline-block;
      margin-bottom: -7px;
    }
  }
  &_buttons {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;
  }
}
