.BadgeLabel {
	display: inline;
	padding: 0.5em 0.4em;
	font-size: 12px;
	font-weight: 700;
	line-height: 15px;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 5px;
	&-green {
		color: #fff;
		background-color: #1ECD96;
	}
	&-red {
		color: #fff;
		background-color: #F83434;
	}
	&-yellow {
		color: #212529;
    background-color: #FFC107;
	}
	&-default {
		color: #4a4a4a;
		background-color: #fff;
		border: 1px solid rgb(230, 237, 242);
		font-weight: 300 !important;
	}
}
