#root > div.Menu.u-LayoutMargin {
	padding: 15px 10px 15px 35px !important;
}

/*.e-appointment.e-read-only {
	height: 37px !important;
}*/
.e-appointment {
	background-color: transparent !important;
	display: flex;
	flex-direction: column;
	/*display: flex;*/
}

.e-popup-header {
	background: #1ecd96 !important;
}
.e-header-cells.e-current-day,
.e-current-time {
	color: #1ecd96 !important;
}

.e-toolbar-item.e-views.e-active-view {
	button {
		span.e-tbar-btn-text {
			color: #1ecd96 !important;
		}
	}
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
	border: none;
	background-color: transparent !important;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment.e-appointment-border {
	box-shadow: none !important;
}

.e-schedule .e-vertical-view .e-time-cells-wrap table td, .e-schedule .e-vertical-view .e-work-cells {
	height: 47px;
}

.e-work-cells .e-work-hours > div {
	display: flex;
}

.e-current-timeline {
	border-top: 1px solid #1ecd96 !important;
}
.e-previous-timeline {
	border-top: 1px dotted #1ecd96 !important;
}

td.e-work-cells.e-work-days.e-current-date {
	div.e-date-header.e-navigate {
		background-color: #1ecd96 !important;
	}
}

/* CELDAS DE CITAS */

.e-appointment-details {
	padding: 3px 4px !important;
	flex-direction: column !important;
	/* cursor: pointer; */
}

.e-schedule .e-read-only {
	opacity: 1 !important;
}

.e-schedule .e-appointment {
	transition: none !important;
}

.template-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 40px;
	background: #E9FAF5 !important;
	border: 1.5px solid #00B57C;
	box-sizing: border-box;
	border-radius: 8px;
	color: #00B57C !important;
	padding: 5px 12px;
}

.event-template.e-schedule .e-timeline-view .e-appointment .e-appointment-details {
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
}

/* .event-template.e-schedule .e-timeline-view .template-wrap {
//   width: 100%;
// }

// .event-template.e-schedule .e-timeline-view .template-wrap .subject {
//   font-size: 16px;
//   text-align: center;
} */


.quick-info-template .event-content {
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .quick-info-template .meeting-type-wrap,
  .quick-info-template .meeting-subject-wrap,
  .quick-info-template .notes-wrap {
	display: flex;
	font-size: 14px;
	color: #666;
	letter-spacing: 0.33px;
	height: 24px;
  }
  
  
  
.calendar-create-container{
	padding: 5 10;
	h4.calendar-create-title {
		color: #1ecd96 !important;
		font-size: 17px;
		margin-bottom: 10px
	};
	p {
		margin-bottom: 2px;
		margin-top: 3px;
	}
}

/* HIDE COLUMN HOURS */

div.e-table-container > div > table > tbody > tr:nth-child(1) > td.e-left-indent {
	display: none;
}

div.e-table-container > div > table > tbody > tr:nth-child(2) > td:nth-child(1) {
	display: none;
}

div.calendar-header-day-week {
	font-family: Mulish;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
}

div.calendar-header-day {
	font-family: Mulish;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
}

div.cell-template-hour {
	/*display: flex;
	align-items: center;
	box-sizing: border-box;*/
	text-align: left;
	padding-left: 16px;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #52575C;
	/*height: 46px;*/
}

.cell-template-hour-disabled {
	background-color: #F9F9FA;
}

/* CELLS READ ONLY */
/*.e-schedule .e-read-only {
    opacity: 1 !important;
}*/

div.Layout > div > div > div:nth-child(1) > div > h1 {
	margin-bottom: 0px !important;
}

/*#root > div.Layout {
	min-height: unset;
	height: calc(100vh - 190px);
}*/

/*#root > div.Footer {
	position: absolute;
	bottom: 0px;
}*/

#root > div.Layout > div > div > div:nth-child(3) > div.loader-scheduler {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment.e-appointment-border, .e-schedule .e-vertical-view .e-day-wrapper .e-appointment:focus {
    border: none !important;
    box-shadow: unset !important;
}
