@import "../../../assets/styles/01-settings/settings";

.ListMentors {
  padding: 0 70px;
  &_body {
    display: flex;
    flex-direction: column;
  }
  &_sticky {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &_header, &_row {
    display: flex;
    flex-direction: row;
  }
  &_header {
    align-items: center;
    margin-top: 10px;
  }
  &_row {
    align-items: center;
    &--center {
      display: flex;
      justify-content: center;
      padding: 60px 0;
    }
    &--border {
      border-bottom: 1px solid #c1c1c1;
    }
  }
  &_column {
    &--mentor {
      min-height: 70px;
    }
    &:nth-child(1) {
      width: 50%;
    }
    &:nth-child(2) {
      width: 20%;
    }
    &:nth-child(3),
    &:nth-child(4) {
      text-align: center;
      width: 15%;
    }
  }
  &_line {
    background: $grey-light;
    border: 0;
    box-shadow: 0 1px 6px 0 darken($grey-light, 10%);
    height: 1px;
    margin: 2px 0;
  }
  &_separator {
    align-items: center;
    border-right: 1px solid rgb(193, 193, 193);
    display: flex;
    height: 45px;
    padding-top: 2px;
  }
  &_bigtext {
    font-size: 24px;
    line-height: 48px;
  }
}

.u-ListMentors_padding {
  padding: 0 70px;
}
