@import "../../../assets/styles/01-settings/settings";

.ListSessions {
  padding: 0 70px;
  &_body {
    display: flex;
    flex-direction: column;
  }
  &_sticky {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &_header, &_row {
    display: flex;
    flex-direction: row;
  }
  &_header {
    align-items: center;
    margin-top: 10px;
  }
  &_row {
    align-items: center;
    &--center {
      display: flex;
      justify-content: center;
      padding: 60px 0;
    }
  }
  &_inputFilter {
    display: flex;
    input {
      padding-right: 8px !important;
    }
    button {
      margin-left: 5px;
    }
  }
  &_numbers {
    h4 {
      font-size: 14px;
      font-weight: 400;
    }
  }
  &_column {
    &--mentor {
      min-height: 70px;
    }
    &--date {
      span {
        color: #4a4a4a!important;
      }
    }
    //date
    &:nth-child(1) {
      text-align: center;
      width: 10%;
    }
    //assistance
    &:nth-child(2) {
      text-align: center;
      width: 6%;
    }
    //reservation date
    &:nth-child(3) {
      text-align: center;
      width: 9%;
    }
    //doctor info
    &:nth-child(4) {
      width: 15%;
    }
    //patient info
    &:nth-child(5) {
      width: 15%;
    }
    //patient document
    &:nth-child(6) {
      width: 8%;
    }
    //patient phone
    &:nth-child(7) {
      width: 8%;
    }
    //session url
    &:nth-child(8) {
      text-align: left;
      width: 12%;
      padding-right: 5px;
      margin-right: 5px;
      a:visited {
        color: #0000EE;
      }
    }
    //cancel session
    &:nth-child(9) {
      text-align: center;
      width: 5%;
    }
    //reschedule session
    &:nth-child(10) {
      text-align: center;
      width: 5%;
    }
    //schedule session
    &:nth-child(11) {
      text-align: center;
      width: 5%;
    }
  }
  &_line {
    background: $grey-light;
    border: 0;
    box-shadow: 0 1px 6px 0 darken($grey-light, 10%);
    height: 1px;
    margin: 2px 0;
  }
  &_separator {
    align-items: center;
    border-right: 1px solid rgb(193, 193, 193);
    display: flex;
    height: 45px;
    padding-top: 2px;
  }
  &_bigtext {
    font-size: 24px;
    line-height: 48px;
  }
  &_linkseparator {
    border-right: 1px solid rgb(193, 193, 193);
    height: 50%;
    width: 0;
    margin: 0 5px;
  }
  &_badge {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    &-green {
      color: #fff;
      background-color: #5cb85c;
    }
    &-red {
      color: #fff;
      background-color: #d9534f;
    }
    &-default {
      color: #4a4a4a;
      background-color: #fff;
      border: 1px solid rgb(230, 237, 242);
      font-weight: 300 !important;
    }
  }
}

.u-ListSessions_padding {
  padding: 0 20px;
}
