@import "../../assets/styles/01-settings/settings";
@import "../../assets/styles/04-elements/input";

.SelectList {
  background: white;
  box-shadow: 1px 1px 2px 1px rgba(193, 193, 193, 0.5);
  cursor: pointer;
  margin: 3px 0;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  top: 16px;
  width: 100%;
  z-index: 2;
  &-item {
    align-items: center;
    display: flex;
    list-style-type: none;
    padding: 12px 10px;
    &:hover {
      background: #eef2f6;
    }
    &:focus, &:active {
      background: $primary-color;
      .SelectList-item_text {
        color: white!important;
      }
    }
  }
}
