// GenericContentModal
.GenericContentModal {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  img {
    height: 80px;
    width: 80px;
  }
  &_header {
    margin-top: 15px;
    .icon {
      height: 96px;
      width: 96px;
      fill: #1ecd96 !important;
    }
  }
  &_body {
    padding: 12px 0;
  }
  &_title {
    text-align: center;
  }
  &_description {
    align-items: center;
    display: flex;
    margin: 20px auto;
    text-align: center;
    width: 100%;
  }
}
