.ModalCancel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &_texts {
    margin: auto 0;
    text-align: center;
  }
  &_buttons {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;
  }
}
