@import "../../../../assets/styles/01-settings/settings";

.Menu {
  background: white;
  padding: 75px 10px 28px 10px;
  &-navbar {
    align-items: center;
    display: flex;
  }
  &-item {
    padding-left: 6px;
    &--link {
      text-decoration: none!important;
    }
    & + .Menu-item {
      &:before {
        content: '>';
        padding-right: 6px;
      }
    }
  }
}
