.PatientClinicHistory{
  &_info {
    margin-top: 1em;
    &--title {
      text-align: center;
      border-bottom: 1px solid #ccd6dc;
    }
  }
  &_background {
    span:nth-child(2) {
      font-style: italic;
    }
  }
  &_sessions {
    margin-top: 20px;
  }
  &_buttons {
    display: flex;
    justify-content: space-between;
  }
}

.button-info {  
  color: #adb7c4;
  font-size: 12px;
  margin-top: 0.75rem;
  width: 19.5rem
}

