.SessionsMentorDetail {
  background: #f9fbff;
  padding: 40px 60px;
  width: 100%;
  border: 1px solid #e2e2e2;

  &_empty-state {
    display: block;
    margin: 48px auto 0 auto;
    opacity: 0.5;
    width: 80%;
  }
  &_scroll-top {
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    margin: 24px auto;
    &:hover {
      .icon {
        transform: rotate(90deg) translate(-5px, 4px);
      }
    }
    .icon {
      height: 20px;
      transform: rotate(90deg) translate(-2px, 4px);
      transition: transform 0.2s ease-in;
      width: 20px;
      fill: #1ecd96;
    }
    span {
      color: #1ecd96!important;
    }
  }
  &_title {
    h2 {
      color: #1ECD96!important;
    }
    span {
      color: #1ECD96!important;
      display: block;
      margin-top: 5px;
      text-align: center;
    }
  }
  &_session-container {
    margin-top: 50px;
  }
  &_session-title {
    border-bottom: 1px solid #d4dce0;
    width: 100%;
  }
  &_sessions {
    display: flex;
    flex-direction: column;
  }
}
