@import "../../assets/styles/01-settings/settings";

.FilterList {
  position: relative;
  display: inline-block;
  &-field {
    border-bottom: 1px solid $grey-light;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 0 11px;
    position: relative;
    width: 100%;
    &--active {
      border-bottom: 1px solid $primary-color;
    }
    &:after {
      border: solid $primary-color;
      border-width: 0 2px 2px 0;
      content: '';
      display: inline-block;
      padding: 3px;
      position: absolute;
      right: 10px;
      top: 6px;
      transform: rotate(45deg);
      vertical-align: middle;
    }
  }
  &-list {
    background: white;
    box-shadow: 1px 1px 2px 1px rgba(193, 193, 193, 0.5);
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 16px;
    width: 372px;
    z-index: 2;
    &_item {
      list-style-type: none;
      padding: 12px 10px;
      &:hover {
        background: rgb(245, 247, 250);
      }
      &:focus, &:active {
        background: $primary-color;
        .FilterList-list_item--text {
          color: white!important;
        }
      }
    }
    &--hidden {
      display: none;
    }
  }

}