.message-service-container {
    margin: 45px auto;
    width: 350px;
}

.message-service-text {
    margin-bottom: 30px;
}

.message-service-title {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.message-service-submessage {
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 0px;
}
