.MentorItem {
  display: flex;
  flex-direction: row;
  &_basicInformation {
    margin-left: 25px;
  }
  &_tagWrapper {
    margin-bottom: 8px;
    margin-top: -7px;
  }
  &_tag {
    border-radius: 3px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 7px;
    padding: 2px 8px;
  }
}
