.filter-calendar-container {
    width: 170px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    padding: 0px 8px;
    width: 170px;
    height: 32px;
    background: #F7F8FC;
    border-radius: 17px;
    cursor: pointer;
    gap: 12px;
}

.filter-calendar-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #494F66;
}
