.Footer {
  height: 56px;
  width: 100%;
  z-index: 999;
  &-wrapper {
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: space-between;
  }
  &-section {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  &-text {
    padding: 0 14px;
  }
  &-link {
    text-decoration: none;
  }
}
