.Header {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  &_space {
    display: block;
    height: 80px;
    width: 100%;
  }
  &_wrapper {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
  }
  &_section {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    a {
      display: flex;
      align-items: center;
    }
  }
  &_container-image {
    display: block;
    height: 18px;
    overflow: hidden;
    position: relative;
    width: 54px;
  }
  &_image {
    position: absolute;
  }
}
