@import "../../../../assets/styles/01-settings/settings.scss";

.Login {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  &_section {
    align-items: center;
    display: flex;
    justify-content: center;
    &--background {
      flex-direction: column;
      width: 33%;
    }
    &--form {
      margin-bottom: auto;
      margin-right: auto;
      margin-top: auto;
      padding-left: 140px;
    }
    &--image-container {
      position: relative;
    }
  }
  &_footer {
    align-items: center;
    display: flex;
  }
  &_image {
    bottom: 100px;
    position: absolute;
    right: 100px;
    width: 110px;
  }
  &_form {
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    width: 320px;
  }
}
