@import "../../../../assets/styles/01-settings/settings.scss";

.Login {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  &-section {
    align-items: center;
    display: flex;
    justify-content: center;
    &--background {
      background: $primary-color;
      flex-direction: column;
      width: 33%;
    }
    &--form {
      margin-bottom: auto;
      margin-top: auto;
      width: 67%;
    }
  }
  &-image {
    width: 20%;
  }
  &-form {
    margin-right: 20%;
    width: 390px;
  }
  &-title {
    height: 48px;
    margin-bottom: 13px;
  }
  &-subtitle {
    height: 24px;
    margin-bottom: 50px;
  }
  &-information {
    background: url('../../../../assets/images/password.png') no-repeat scroll 0 5px/12px;
    height: 54px;
    margin-top: 20px;
    padding-left: 30px;
  }
}