.EmptyCard {
  margin-bottom: 40px;
  margin-top: 10px;
  &_item {
    text-align: center;
    width: 100%;
    svg {
      height: 156px;
      width: 156px;
      fill: #CCD6DD;
    }
    h2 {
      color: #CCD6DD;
      margin: 10px auto 0 auto;
      width: 65%;
    }
  }
}
