.caption-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.caption-filter-div {
    display: flex;
    gap: 20px;
    margin: 9px 0px;
    align-items: center;
}

.caption-interval-div {
    flex: 1;
}

.caption-interval-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.caption-interval-description {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #676F8F;
}
