@mixin placeholder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

.LoginForm {
  display: flex;
  flex-direction: column;
  width: 320px;
  
  &-input {
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
    color: rgb(56, 52, 53);
    font-size: 14px;
    height: 56px;
    margin-bottom: 20px;
    padding: 10px 35px 10px 14px;
    text-align: center;
    transition: all ease-out 0.5s;
    width: 328px;
    @include placeholder(rgb(193, 193, 193));
    &:focus {
      border: 1px solid rgb(56, 52, 53);
    }
    &--username {
      background: url('../../../../assets/images/pencil_inactive.png') no-repeat scroll 96%/24px;
      &:focus {
        background: url('../../../../assets/images/pencil_active.png') no-repeat scroll 96%/24px;
      }
    }
    &--password {
      background: url('../../../../assets/images/locked_inactive.png') no-repeat scroll 96%/24px;
      &:focus {
        background: url('../../../../assets/images/locked_active.png') no-repeat scroll 96%/24px;
      }
    }
  }
  &-button {
    font-size: 18px;
    height: 56px;
    margin-top: 20px;
    width: 328px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
