@import "../01-settings/settings";

.u-Button {
  align-items: center;
  background: $primary-color;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  transition: background ease-in-out 0.5s;
  width: 280px;
  &[disabled] {
    background: rgb(193, 193, 193)!important;
  }
  &[loading],
  &[data-loading] {
    &:before {
      display: block;
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      margin: 0 auto;
      opacity: 1;
    }
  }
  &:hover {
    background: darken($primary-color, 10%);
  }
  &:before {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: linear;
    border: 4px solid;
    border-left-color: transparent;
    border-radius: 50%;
    content: '';
    display: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    height: 20px;
    opacity: 0;
    width: 20px;
  }
  &--white {
    background: rgb(255, 255, 255);
    border: 1px solid $primary-color;
    color: $primary-color;
    &:hover {
      background: rgb(255, 255, 255);
    }
  }
}
