.StudentCommentModalHeader {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  &_body-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_title {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
  &_image-container {
    border: solid 2px;
    height: 48px!important;
    margin-right: 12px;
    width: 48px!important;
  }
  &_custom-width {
    display: flex;
    float: left;
    margin: 0 auto;
  }
  &_message {
    display: block;
    text-align: center;
    width: 100%;
    span {
      color: rgb(74, 74, 74)!important;
    }
  }
}
